@import '../../../styles/variables.scss';

.category {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: .5rem;
    text-transform: uppercase;
    position: relative;
    color: $purple;

    @media (max-width: 992px) {
        font-size: 24px;
        line-height: 24px;
    }
}

.icon {
    margin-right: .75rem;
    stroke: $purple;
    fill: $purple;
}