@import '@/styles/variables.scss';

.divBuy {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;


    &__text {
        color: $light;
        text-align: center;
    }

    &__btnPayQrCode {
        margin: 2%;
        width: 90%;
        border: 2px solid $primary;
        background-color: $clay;
        color: $primary;
    }
}

.closeButtonDiv {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.closeButton {
    background: none;
    color: white;
    border: 1px solid $gray;

    margin: 1px;

    &:hover {
        border: 1px solid $primary;
        transition: .5s;
    }
}

.divButtonsResponse {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.inputValue {
    width: 90%;
    background-color: $clay;
    border: none;
    border-bottom: 3px solid $primary;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 500;



    &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    &::placeholder {
        color: $white;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}