@import '@/styles/variables.scss';

.login {
    height: 100vh;
    background: linear-gradient(to bottom, $black, $black, #013812);
}

.form {
    margin-top: 24px;

    &__desc {
        text-align: start;
        font-size: 14px;
        margin-top: 16px;

        a {
            text-decoration: none;
            color: $purple;
            transition: .4s;

            &:hover {
                text-shadow: 0 0 10px #bb00ff;
            }
        }
    }
}