@import '../../../styles/variables.scss';

.tabnavigation {
    width: 100%;
    height: 4rem;
    position: sticky;
    z-index: 1030;
    top: 66.5px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba($color: #c9c9c9, $alpha: .8);

    &__link {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        text-decoration: none;

        span {
            color: $black;
            font-weight: 500;
            text-transform: uppercase;
        }

        &.active {
            span {
                color: $primary !important;
            }
            border-bottom: 4px solid $primary;
        }
    }
}