@import '@/styles/variables.scss';

.background {
    // À partir do momento que novos toens forem adicionados é preciso tratar essa parte do código
    // background: linear-gradient(to top, $black, transparent),
    //             url(../../../assets/img/backgroundAdmin.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.main {
    display: flex;
    background: linear-gradient(to top, $black, transparent),
                url(../../../assets/img/backgroundInvestidor.png);
    filter: saturate(0);
    width: 400px;
    height: 250px;
    border-radius: 10px;
    padding: 10px 15px;
    border-bottom: 3px solid $primary;
    transition: .5s;
    margin: 20px;

    &:hover {
        filter: saturate(1);
        transition: .5s;
        cursor: pointer;
    }

    &__h3 {
        align-self: flex-end;
        margin: 0;
        padding: 0;
    }
}