@import '@/styles/variables.scss';

.styleLabelRent {
    display: flex;
    align-items: center;
    margin: 0 2%;

    &:disabled {
        cursor: not-allowed;
    }
    

    & span {
        font-size: 1.2rem;
        color: $gray;

        &:disabled {
            cursor: not-allowed;
        }
    }
}