@import '@/styles/variables.scss';

.divBuy {
    background-color: $gray;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 12px;
    height: 90vh;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1032;


    &__text {
        font-size: 1.3rem;
        color: $light;
        width: 90%;
        margin: 10px 0;
        text-align: center;
    }

    &__btnPayQrCode {
        margin: 2%;
        width: 100%;
        border: 2px solid $primary;
        background-color: $clay;
        color: $primary;
    }
}

.qrConfirmButton {
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButtonDiv {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.closeButton {
    background: none;
    color: white;
    border: none;
    margin: 5px;
}

.labelValue {
    position: absolute;
    font-size: 12px;
    left: 2em;
    margin-top: .5em;
    color: $primary;
}

.inputValue {
    width: 100%;
    background-color: $clay;
    border: none;
    border-bottom: 3px solid $primary;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 500;



    &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    &::placeholder {
        color: $white;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}