@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.button {
    cursor: pointer;
    padding: .5rem 2rem;
    color: $darker;
    background: $primary;
    border: none;
    box-shadow: 0 5px 15px rgba($color: $primary, $alpha: .3);
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 16px;
    transition: .5s;
    border-radius: 4px;

    &:hover {
        color: $primary;
        background: rgba($color: $primary, $alpha: .5);
    }

    &[disabled] {
        opacity: .4;
        cursor: default;

        &:hover {
            background: $primary;
            color: $darker;
        }
    }
}