@import '@/styles/variables.scss';

.projecard {
    background: $black;
    border-radius: 8px;
    overflow: hidden;
    min-height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 17.5%;
    margin: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 992px) {
        display: block;
        padding: 1rem;
        padding-top: 80px;
    }

    &__picture {
        background: linear-gradient(to right, transparent, #000),
            url(../../../assets/img/logo.png);
        background-size: cover;
    }

    &__info {
        width: 35%;
        position: relative;
        z-index: 2;

        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__data {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 5rem;
        z-index: 2;

        @media (max-width: 992px) {
            width: 100%;
            display: block;
            margin: 0;
            margin-top: .5rem;
        }
    }

    .info {
        &__title {
            font-size: 16px;
            margin: 0;
        }

        &__tiny {
            font-size: 10px;
            margin: 0;
        }
    }

    .data {
        @media (max-width: 992px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            font-size: 16px;
            color: $primary;
            text-align: center;
            margin: 0;

            @media (max-width: 992px) {
                display: inline-block;
            }
        }

        &__value {
            margin: 0;
            font-size: 1em;
            font-weight: 500;

            span {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

.progress {
    &__values {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 10px;
        }
    }

    &__bar {
        background: $clay;
        border-radius: 1rem;
        height: .3rem;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            width: 37%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $primary;
            transition: .4s;
            border-radius: 1rem;
        }
    }
}