@import '@/styles/variables.scss';

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $darker;
  border-radius: 10px;
  padding-right: 10px;
  gap: 10px;
  // height: 90vh;

  &ImgDescription {
    display: flex;
    gap: 10px;
    width: 100%;

    &__letters {
      margin-top: .5em;
      width: 100%;
    }

    &__span {
      color: $light;
      font-size: 14px;
    }
  }
}

.descriptionTextFailed {
  color: $error;
}

.cardMobileProject {
  width: 95%;
  display: flex;
  justify-content: center;
}

.image {
  width: 95%;
  border-radius: 20px;
  // -webkit-mask-image: linear-gradient(to top, black 45%, black 100%);
}

.enoughCoinDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 700px;
}

.titleEnough {
  color: $primary;
}

.labelValue {
  font-size: 12px;
  left: 3.5em;
  margin-top: .5em;
  color: $primary;
}

.divInput {
  display: flex;
  height: 80vh;
  margin: .5rem 0;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;


  &__investCardExib {
    width: 95%;
  }
}

.buyProjectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.successBuyProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.inputCheckBuy {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyCoinLivre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.descriptionText {
  font-size: 1.3rem;
  color: $light;
  width: 90%;
  text-align: center;
  margin: 10px;
}

.descriptionTextCheckbox {
  font-size: 1.3rem;
  color: $light;
  width: 90%;
}
.buttonBackInit {
  width: 100%;
}

.descriptionTextFailed {
  color: $error;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2% 0;
  width: 90%;
  text-align: center;
}

.checkboxLabel {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 90%;

}

.checkboxInput {
  width: 20px;

  &:after {
    background-color: $primary;
  }
}

.divButtons {
  display: flex;
  flex-direction: column;
  width: 90%;


  &__backButton {
    background: none;
    border: 2px solid $primary;
    color: $white;
    padding: 15px 0;
    margin: 8px 0;
    flex: 1;

    &:hover {
      background-color: $primary;
      color: $darker;
    }
  }

  &__QRButton {
    flex: 1;
    padding: 15px 0;
    margin: 8px 0;
  }
}

.btnPayQrCode {
  width: 100%;
  padding: 12px 0;
  width: 100%;
  margin: 3% 0;
  border: 2px solid $primary;
  background-color: $clay;
  color: $primary;
}

.notEnoughCoins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75vh;
  overflow-y: auto;
}


.inputValue {
  width: 85vw;
  background-color: $clay;
  border: none;
  border-bottom: 3px solid $primary;
  border-radius: 5px;
  padding-top: 1.5rem;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  text-align: right;


  &:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-bottom: 3px solid $primary;
  }

  &::placeholder {
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.inputValueBuyProject {
  width: 86vw;
  background-color: $clay;
  border: none;
  border-bottom: 3px solid $primary;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: 500;


  &:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  &::placeholder {
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}