@import '@/styles/variables.scss';

.navbar {
    width: 100%;
    height: auto;
    background: transparent;
    position: fixed;
    z-index: 1031;
    transition: .4s;
    padding: .7rem 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 5%;
    }

    &.white {
        background: $white;
        padding: .2rem 0;
        box-shadow: 0 0 30px rgba($color: #c9c9c9, $alpha: .8);

        .active,
        .active:hover {
            color: $secondary !important;
        }

        .link,
        .disabled {
            color: $gray;
        }

        .user__phrase {
            color: $gray;
        }
    }
}

.sectionLanguage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2%;
}

.buttonIcon {
    right: 1%;
    top: 18%;
    margin: 0;
    border: none;
}

.languageIcon {
    width: 50px !important;
    height: 50px!important;
    fill: $primary !important;
    border: 2px solid $primary;
    border-radius: 50%;
    transition: .5s;


    &:hover {
        transition: .5s;
        box-shadow: 0 5px 15px rgba($color: $primary, $alpha: .3);
    }
}

.linksDiv {
    display: flex;
    flex-direction: column;
}

.linkLanguageStyle {
    text-decoration: none;
    color: $primary;
    margin: 10px;
    font-size: 1.2rem;

    &:hover {
        color: $primary
    }
}

.link {
    color: $white;
    font-weight: 500;
    text-decoration: none;
    padding: 0 .4rem;

    &:hover {
        color: $light;
    }

    @media (max-width: 992px) {
        display: none;
    }
}

.active {
    color: $primary;
    font-weight: 500;
    text-decoration: none;
    padding: 0 .4rem;

    &:hover {
        color: $primary;
    }

    @media (max-width: 992px) {
        display: none;
    }
}

.disabled {
    cursor: default;
    pointer-events: none;
    font-weight: 500;
    color: $light;
    padding: 0 .4rem;

    @media (max-width: 992px) {
        display: none;
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;

    &__phrase {
        color: $white;
        margin-bottom: 0;
    }

    &__picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid $primary;
        margin-left: .5rem;
        background: url(../../../assets/img/BG2.webp);
        background-size: cover;
    }
}