.title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: .5rem;
    text-transform: uppercase;
    position: relative;

    @media (max-width: 992px) {
        font-size: 54px;
        line-height: 54px;
    }
}