@import '@/styles/variables.scss';

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(13, 13, 13, .5);
    padding: 20px;
    border-radius: 15px;
    width: 95%;
    // height: 85vh;
}


.balanceValue {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}