@import '../../../styles/variables.scss';

.group {
    position: relative;
    margin-bottom: .5rem;

    &[data-error="true"] {
        .input {
            border-bottom: 2px solid $error !important;
        }

        .label {
            color: $error !important;
        }
    }

    &:focus-within {
        .label {
            font-size: 12px;
            top: .5rem;
            color: $primary;
        }

        .input {
            padding-top: 1.5rem;
            padding-bottom: .5rem;
        }
    }
}

.input {
    width: 100%;
    background: $clay;
    border: none;
    border-bottom: 2px solid $clay;
    padding: 1rem;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    transition: .2s;

    &:focus {
        outline: none;
        border-bottom: 2px solid $primary;
    }

    &:not(:placeholder-shown)~.label {
        font-size: 12px;
        top: .5rem;
        color: $primary;
    }

    &:not(:placeholder-shown) {
        padding-top: 1.5rem;
        padding-bottom: .5rem;
    }

    &[disabled],
    &[disabled]~.label {
        opacity: .3 !important;
        cursor: default !important;
        pointer-events: none !important;
        touch-action: none !important;
    }
}

.label {
    top: 1rem;
    left: 1rem;
    font-size: 18px;
    position: absolute;
    transition: .1s;
}

.finish {
    text-align: center;
}