@import './fonts.scss';
@import './variables.scss';

html,

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: $black !important;
}

input[type="file"] {
  display: none;
}

.row {
  @media (max-width: 992px) {
    padding-right: 0 !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  background: transparent;
  box-sizing: border-box;
  font-family: 'Kanit';
  font-weight: 300;
  color: $white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}