@import '@/styles/variables.scss';



.form {
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    height: 600px;
    background: $gray;
    border-radius: 12px;
    margin: 10em;
    z-index: 1;
    opacity: 95%;
}

// .sellBuy {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background: $clay;
    gap: 100px;
    padding: 12px;
    border-radius: 10px;
    max-width: 95%;
}

.buttonSelected {
    background-color: $gray;
    box-shadow: none;
    color: $primary;
    border-radius: 10px;
    margin: 0 5px;

    &:hover {
        margin: 0 5px;
        border-radius: 10px;
        color: $primary;
        background: rgba($color: $darker, $alpha: .5);
    }
}

.buttonUnselected {
    box-shadow: none;
    background: none;
    color: $white;
    margin: 0 5px;

    &:hover {
        margin: 0 5px;
        border-radius: 10px;
        color: $primary;
        background: rgba($color: $darker, $alpha: .5);
    }
}