@import '@/styles/variables.scss';



.form {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    width: 600px;
    height: 600px;
    background: $gray;
    border-radius: 12px;
    margin: 10em;
    z-index: 1;
    opacity: 95%;
    padding: 10px;
}

.sectionCard {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background: $clay;
        border-radius: 20px;
    }
}

// .sellBuy {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

